* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border-radius: 2%;
}

.calculator {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  background-color: black;
}

.display {
  font-size: 8vw;
  padding: 5%;
  height: 36%;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: black;
  text-align: right;
  vertical-align: bottom;
}

.display text {
  color: white;
  font-size: 14vw;
}

.buttons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2%;
  max-height: 64%;
}

.row {
  display: flex;
  gap: 2%;
  flex-grow: 1;
}

.btn {
  flex: 1;
  height: 100%;
  font-size: 4vw;
  border: none;
  border-radius: 15vw;
  cursor: pointer;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn text {
  color: white;
  font-size: 8vw;
}

.btn.orange {
  color: white;
}

.btn:active {
  opacity: 0.7;
}

.gray {
  background-color: #a5a5a5;
  color: black;
}

.orange {
  background-color: #ff9500;
  color: white;
}

.zero {
  flex: 2;
  justify-content: flex-start;
  padding-left: 10%;
}
